<h1>Hi, <%= @user.name %></h1>

<%if @posts%>
  <% @posts.each do |post|%>
    <p>
      Title: <%= link_to post.title, post_path(post)%><br>
    </p>
    <%end%>
<%else%>
  <p>You still don't have any posts</p>
<%end%>

